body {
    background: $white; color: $bodycolor; font-size: $bodyfontsize; position: relative; font-family: $bodyfont; min-height: 100vh; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth;
}

.container {
    padding: 0 15px;
}
@media (min-width: 1600px) {
    .container {
        max-width: 1520px;
    }
}

.main-header {
    background: $black; position: sticky; top: 0; z-index: 1030;
    &.fixed-header {
        @include box-shadow(0px 6px 20px rgba(0, 0, 0, 0.10)); @include transition(0.3s, ease-in-out);
    }
    .navbar { height: 90px;
        .navbar-brand {
            img { 
                max-width: 210px; 
            }
        }        
        ul {
            @include align-items(center); @include transition (0.3s, ease-in-out);
            li { position: relative;
                a {
                    color: $lightwhite; font-weight: 500; font-size: 16px; @include transition (0.3s, ease-in-out); padding: 0 16px; text-decoration: none;                    
                }                
                .header-btn {
                    margin-left: 20px; padding: 0 45px; color: $white !important;
                }
                &.dropdown > a::after {
                    content: ""; background: url(../images/icons/arrow-down.svg) no-repeat center right; vertical-align: middle; background-size: contain; width: 10px; height: 10px; margin-left: 8px; display: inline-block; @include transition (0.3s, ease-in-out); @include opacity(0.7);
                }
                ul {
                    z-index: 1033;  width: 350px; max-width: 350px; position: absolute; left: 16px; top: calc(100% + 5px); white-space: nowrap; padding: 15px 0; opacity: 0; visibility: hidden; @include border-radius(10px); @include transform(translateY(15px)); background: $white; @include box-shadow(0 0 20px rgba(0, 0, 0, 0.15));
                    li {
                        width: 100%; display: block; padding: 8px 20px; margin: 0; 
                        a {
                            color: $darkblue !important; padding: 0; font-size: 14px;
                            small {
                                display: block; white-space: pre-wrap; font-size: 11px; font-weight: 400; color: $darkgray !important; @include transition (0.3s, ease-in-out);
                            }
                        }
                        &.current-menu-item, &:hover, &:focus {
                            a {
                                color: $primary !important;
                                small {
                                    color: $black !important;
                                }
                            }
                        }
                    }
                }
                &.current-menu-item, &:hover, &:focus {
                    a {
                        color: $primary;
                    }          
                }
                &:hover, &:focus {
                    &.dropdown > a::after { 
                        @include transform(rotate(180deg)); @include opacity(1);
                    }
                    ul {
                        @include opacity(1);
                        @include transform(translateY(0));
                        visibility: visible;
                    }                 
                }
            }
        }        
        .bar-icon { 
            display: none; cursor: pointer; background: transparent; border: none;
        }
        @media (max-width: 992px) { 
            .navbar-brand { 
                z-index: 1032; 
            }
            .navbar-collapse { 
                min-height: 100vh; background: $black; z-index: 1031; will-change: transform; width: 100%; max-width: 100%; display: block !important; @include transform(translateX(-100%)); position: fixed; top: 0; left: 0; @include box-shadow(0 3px 25px rgba(0, 0, 0, 0.20)); @include transition-all(transform, 0.4s, ease-in-out);
                &.open { 
                    @include transform(translateX(0)); 
                }
                & > div {
                    margin-top: 90px; height: calc(100vh - 90px); overflow-x: hidden; overflow-y: auto;
                }
                ul {
                    max-width: 720px; margin: 0 auto; @include align-items(flex-start);                   
                    li {
                        a {
                           padding: 12px 15px; display: inline-block;
                        }
                        .header-btn {
                            margin: 20px 15px 40px; padding: 0 25px;
                        }
                        ul {
                            min-width: 100%; position: relative; left: 0; top: 0; white-space: nowrap; @include opacity(1); visibility: visible; @include border-radius(0px); @include transform(none); background: transparent; @include box-shadow(none); height: auto; padding: 0; @include transition(0.3s, ease-in-out); width: 100%;
                            li {
                                width: 100%; display: block; padding: 0px 15px; margin: 0; 
                                a {
                                    color: $lightwhite !important;
                                    small{
                                        display: none;
                                    }
                                }
                                &.current-menu-item, &:hover, &:focus {
                                    a {
                                        color: $primary !important;
                                    }
                                }
                            }
                        }
                    }
                }     
            }                    
            .bar-icon { 
                display: block; z-index: 1032; margin-left: 30px;
                span { 
                    width: 28px; height: 3px; margin: 4px 0px; @include transition(0.3s, ease-in-out); background: rgba(253,149,3,0.7); display: block;
                }
                &:hover { 
                    span { 
                        background: rgba(253, 149, 3, 1); 
                    } 
                }
                &.toggle { 
                    .line1 {
                         @include transform(translateY(8px) rotate(45deg)); 
                        }
                    .line2 { 
                        @include opacity(0); 
                    }
                    .line3 {  
                        @include transform(translateY(-6px) rotate(-45deg)); 
                    }
                }
            }
        }
        @media (max-width: 767px) { 
            .navbar-collapse {
                ul {
                    max-width: 540px;
                }     
            } 
        }
        @media (max-width: 575px) {
            height: 70px;
            .header-btn {
                margin-left: auto;
            }
            .navbar-collapse { 
                & > div {
                    margin-top: 70px; height: calc(100vh - 70px);
                }
                ul {
                    max-width: 100%;
                }     
            }        
            .bar-icon { 
                margin-left: 15px; 
            }
        }
    }
}

.main-footer {
    background: $black; padding-top: 100px;
    @media(max-width: 992px) { padding-top: 90px; }
    @media(max-width: 767px) { padding-top: 70px; }
    @media(max-width: 575px) { padding-top: 50px; }
    .footer-info {
        @include flexbox; @include align-items(flex-start); @include flex-direction(column); height: 100%;
        .logo-details {
            padding-bottom: 15px;
            .footer-logo {
                padding-bottom: 25px; max-width: 210px;
            }
            p {
                max-width: 400px; color: $white;
            }
        }
        .menu {
            flex: 1; @include flexbox; @include align-items(flex-start); @include flex-direction(column); width: 100%;
            .row {
                width: 100%;
            }
            ul {
                padding: 0; margin: 0; list-style-type: none;
                li {
                    padding: 10px 0;
                    a {
                        position: relative; color: $white; font-weight: 500; font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1900 - 320))); font-weight: 500; text-decoration: none; @include transition(0.3s, ease-in-out); white-space: nowrap; 
                        &::after {
                            content: ''; height: 1px; width: 0px; background: $primary; position: absolute; bottom: 0px; left: 0; @include transition(0.3s, ease-in-out);
                        }
                        &:hover , &:focus {
                            color: $primary;
                            &::after {
                                width: 100%; 
                            }
                        }
                    }
                }
            }
        }
        .contact-info {
            @include flexbox; @include align-items(flex-start); @include justify-content(flex-start); background: $primary; padding: 20px 30px 15px;
            .details {
                padding-right: 30px;
                &:last-child {
                    padding-right: 0;
                }
                .title {
                    color: #282938; font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1900 - 320))); font-weight: 500;
                }
                a {
                    color: rgba(#282938, 0.7); text-decoration: none; @include transition(0.3s, ease-in-out); position: relative;
                    &::after {
                        content: ''; height: 1px; width: 0px; background: #282938; position: absolute; bottom: 0px; left: 0; @include transition(0.3s, ease-in-out);
                    }
                    &:hover, &:focus {
                        color: rgba(#282938, 1);
                        &::after {
                            width: 100%; 
                        }
                    }
                }
            }
            @media (max-width: 420px) {
                padding: 20px 20px 15px; display: block; width: 100%;
                .details {
                    padding-right: 0px; padding-bottom: 10px;
                    &:last-child {
                        padding-right: 0; padding-bottom: 0px;
                    }
                }
            }
        }
    }
    .section-title {
        color: $white; padding-right: 0; padding-bottom: 100px;
        p {
            max-width: 400px; color: rgba(#F4F6FC, 0.8); font-weight: 400; margin-bottom: 30px;
        }
        .social-link {
            a { 
                margin-right: 25px; text-decoration: none;
                svg {
                    path { 
                        @include transition(0.3s, ease-in-out);
                    }
                }
                &:hover, &:focus {
                    @include transition(0.3s, ease-in-out);
                    svg {
                        path {

                            fill: $primary;
                        }
                    }
                }
            }
        }
        @media(max-width: 992px) { padding-bottom: 90px; }
        @media(max-width: 767px) { padding-bottom: 70px; padding-top: 50px; }
        @media(max-width: 575px) { padding-bottom: 50px; padding-top: 30px; }
    }
    .copyright {
        background: #FFFFFF; padding: 30px 0; border-top: 1px solid #1C1E53;
        p {
            margin-bottom: 0; color: #282938; font-weight: 500;
        }
        ul {
            @include flexbox; @include align-items(center); @include justify-content(flex-end); list-style-type: none; padding: 0; margin: 0; @include flex-wrap(wrap);
            li { padding-left: 30px;
                &:first-child {
                    padding-left: 0;
                }
                a {
                    position: relative; color: #282938; font-weight: 500; font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1900 - 320))); font-weight: 500; text-decoration: none; @include transition(0.3s, ease-in-out); white-space: nowrap;
                    &::after {
                        content: ''; height: 1px; width: 0px; background: $primary; position: absolute; bottom: 0px; left: 0; @include transition(0.3s, ease-in-out);
                    }
                    &:hover , &:focus {
                        color: $primary;
                        &::after {
                            width: 100%; 
                        }
                    }
                }
                @media(max-width: 575px) { padding-left: 15px; }
            }
        }
        @media(max-width: 767px) {
            text-align: center;
            ul {
                @include justify-content(center); margin-top: 15px;
            }
        }
        @media(max-width: 575px) {
            p {
                span {
                    display: block;
                }
            }
        }
    }
}

.section-title {
    padding-right: 70px;
    @media (max-width: 1200px) {  
        padding-right: 0px;
    }
    @media (max-width: 767px) {  
        padding-bottom: 30px;
    }
    .tag {
        font-weight: 500; font-size: 16px; color: #282938; margin-bottom: 15px; display: block; width: 100%;
    }
    h1 {
        margin-bottom: 25px;
    }
    h2 {
        margin-bottom: 15px;
    }
    p {
        margin-bottom: 45px; line-height: 28px;
        @media (max-width: 992px) {  
            margin-bottom: 25px;
        }
    }
    .action {
        .btn {
            margin-right: 40px;
            &:last-child {  
                margin-right: 0;
            }
            @media (max-width: 992px) {  
                margin-right: 15px;
            }
        }
    }
    .social-link-block {
        @include flexbox; @include align-items(center); @include justify-content(center);
        a { margin: 0 12px;
            .icon {
                display: inline-block; background-size: contain !important;
                &.icon-facebook { background: url(../images/icons/icon-facebook-dark.svg) no-repeat center center; width: 16px; height: 16px; }
                &.icon-twitter { background: url(../images/icons/icon-twitter-dark.svg) no-repeat center center; width: 16px; height: 16px; }
                &.icon-instagram { background: url(../images/icons/icon-instagram-dark.svg) no-repeat center center; width: 16px; height: 16px; }
                &.icon-linkdin { background: url(../images/icons/icon-linkdin-dark.svg) no-repeat center center; width: 16px; height: 16px; }
            }            
            &:hover, &:focus, &:active {
                @include opacity(0.7);
            }
        }
    }
    &.flex-title {
        @include flexbox; @include align-items(center); @include justify-content(space-between); padding-right: 0; padding-bottom: 65px;
        @media(max-width: 1200px) { padding-bottom: 35px; }
        @media(max-width: 992px) { padding-bottom: 25px; }
        @media(max-width: 767px) { padding-bottom: 15px; }
        @media(max-width: 575px) { display: block; }
    }
    &.center-title {
        max-width: 800px; margin: 0 auto; text-align: center; padding-right: 0; padding-bottom: 40px;
        @media(max-width: 992px) { padding-bottom: 20px; }
    }
    &.mw-730 {
        max-width: 730px;
    }
}

.section {
    padding: 120px 0;
    @media (max-width: 992px) {  
        padding: 90px 0;
    }
    @media (max-width: 767px) {  
        padding: 70px 0;
    }
    @media (max-width: 575px) {  
        padding: 50px 0;
    }
}

.icon-box-content {
    .col-12 { margin-bottom: 25px; }
    .with-number {
        &:hover, &:focus, &:active {
            @include box-shadow(none); @include transform(translateY(0px));
        } 
    }
}

.icon-box { 
    padding: 45px; background: $white; @include transition(0.5s, ease-in-out); height: 100%; position: relative;
    .icon {
        @include flexbox; @include align-items(center); @include justify-content(flex-start); min-height: 50px; margin-bottom: 25px;
        img {
            height: 100%; max-width: none; max-height: 50px;
        }
        &.h-120 {
            img {
                max-height: 120px;
            }
        }
    }
    h3 { 
        color: #282938; margin-bottom: 15px;
    }
    p {
        color: rgba(#282938, 0.7); margin-bottom: 0; // overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;
    }
    a { 
        &.underline-link {
            color: $primary; text-decoration: none; @include transition(0.5s, ease-in-out); padding-top: 15px; @include inline-flex; @include justify-content(center);
            svg {
                margin-right: 8px; min-width: 15px;
                path {
                    @include transition(0.5s, ease-in-out);
                }
            }
            &:hover, &:focus, &:active {
                color: $black;
                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }
    }
    ul.check-list {
        padding-bottom: 0 !important;
    }
    &:hover, &:focus, &:active {
        @include box-shadow(0 0 20px rgba(0, 0, 0, 0.08)); @include transform(translateY(-10px));
    }
    &.with-number { 
        padding: 0; background: transparent;
        .icon {        
            background: url(../images/count-bg.svg) no-repeat center center; width: 50px; height: 50px; min-width: 50px; min-height: 50px; background-size: contain; @include flexbox; @include align-items(center); @include justify-content(center); @include border-radius(8px); margin-bottom: 20px;
            span {
                font-weight: 500; font-size: 18px; color: $white;
            }
        }
        &:hover, &:focus, &:active {
            @include box-shadow(none); 
        }
    }
    @media (max-width: 1200px) {  
        padding: 30px;
    }
    @media (max-width: 767px) {  
        padding: 20px;
        h3 {
            margin-bottom: 10px;
        }
        .icon {
            margin-bottom: 12px;
            img {
                max-height: 35px;
            }
        }
        &.with-number { 
            @include flexbox; @include align-items(flex-start);
            .icon {  
                margin-right: 15px; width: 40px; height: 40px; min-width: 40px; min-height: 40px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 575px) {  
        padding: 15px; 
        &.with-number { 
            @include flexbox; @include align-items(flex-start);
            .icon {  
                margin-right: 15px; width: 35px; height: 35px; min-width: 35px; min-height: 35px;
                span {
                    font-size: 12px;
                }
            }
        }
    }
}

.project-box {
    position: relative; overflow: hidden; margin-bottom: 25px;
    .project-img {
        img {
            width: 100%; @include transform(scale(1)); @include transition(0.5s, ease-in-out);
        }
    }
    .hover-block {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(329.39deg, #000000 -10.96%, rgba(0, 0, 0, 0.42) 103.96%); padding: 50px; color: $white; @include flexbox; @include align-items(flex-start); @include justify-content(flex-end); @include flex-direction(column); @include transform(translateX(-100%)); @include transition(0.5s, ease-in-out); transform-origin: bottom left; 
        .project-box .hover-block h3 {
            margin-bottom: 15px; line-height: normal;
        }
        p {  
            color: $white;
        }
    }
    &.lg-box {
        .hover-block {
            width: 50%; 
        }
    }
    &:hover, &:focus, &:active {
        .project-img {
            img {
                @include transform(scale(1.03)); @include transition(0.5s, ease-in-out);
            }
        }
        .hover-block { 
            @include transform(translateX(0%));
        }
    }
}

.slick-track {
    display: flex !important;
    .slick-slide {
        height: inherit !important;
    }
}

.client-slide { 
    @include flexbox; @include align-items(flex-start); @include flex-direction(column); height: 100%;
    .client-msg {
        font-weight: 500; font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1900 - 320))); color: #282938; margin-bottom: 45px; @include flexbox; flex: 1;
    }
    .clinet-info { 
        @include inline-flex; @include align-items(center);
        .img {
            width: 52px; height: 52px; min-width: 52px; min-height: 52px; @include border-radius(50%); @include flexbox; @include align-items(center); @include justify-content(center); margin-right: 10px; overflow: hidden;
        }
        .name {
            div {  
                font-weight: 500; font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1900 - 320))); color: #282938;
            }
            span {
                font-weight: 500; font-size: 12px;
            }
        }
    }
}

.slick-arrow {
    position: absolute; top: auto; bottom: -22px; width: 48px; height: 48px; background: rgba(187, 187, 203, 0.5); border-radius: 50%; @include transition(0.5s, ease-in-out); z-index: 1029;
    &:before { 
        width: 100%; height: 22px; background-size: contain; display: block; opacity: 1; @include transition(0.5s, ease-in-out);
    }
    &:focus,
    &:hover {
        background: $primary; @include transition(0.5s, ease-in-out);
    }
    &.slick-disabled {
        pointer-events: none;
    }
    &.slick-prev { 
        left: auto; right: 58px;
        &:before {
            content: ''; background: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" fill="rgba(40, 41, 56, 0.6)"/></svg>') no-repeat center center; background-size: contain; margin-left: -1px;
        }
        &:focus:before, &:hover:before {
            background: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 320 512"><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" fill="rgba(255, 255, 255, 1)"/></svg>') no-repeat center center;
        }
    }
    &.slick-next {
        right: 0;
        &:before {
            content: ''; background: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" fill="rgba(40, 41, 56, 0.6)"/></svg>') no-repeat center center; background-size: contain;
        }
        &:focus:before, &:hover:before { 
            background: url('data:image/svg+xml; utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="22" viewBox="0 0 320 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" fill="rgba(255, 255, 255, 1)"/></svg>') no-repeat center center; 
        }
    }
}

.bg-overlay {
    position: relative;
    &::before {
        content: ''; background: rgba(0, 0, 0, 0.5); width: 100%; display: block; height: 100%; position: absolute;   top: 0; left: 0; z-index: 1;
    }
}

.send-inquiry-bg {
    background: url(../images/send-inquiry.png) no-repeat center center; background-size: cover; height: 100%; padding: 100px;
    .section-title {
        z-index: 2; position: relative; color: $white; padding-bottom: 0%;
        h2 {
            line-height: normal;
        }
        p {
            margin-bottom: 0; color: rgba($white, 0.7);
        }
    }
    @media (max-width: 1200px) {  
        padding: 70px;
    }
    @media (max-width: 767px) {  
        padding: 50px;
    }
    @media (max-width: 575px) {  
        padding: 15px;
    }
}

.form-section {
    background: $black; padding: 100px; height: 100%;
    h3 {  
        font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1900 - 320))); color: #FFFFFF; font-weight: 500; margin-bottom: 15px;
    }
    p {
        color: $white; margin-bottom: 40px; line-height: normal;
    }
    .action-btn {
        margin-top: 20px;
        .btn {
            width: 100%; margin-top: 20px;
        }
    }
    .alert {
        display: none;
        &.alert-success {
            background: rgba(209, 231, 221, 0.8); border-color: rgba(209, 231, 221, 0.8);
        }
        &.alert-danger {
            background: rgba(248, 215, 218, 0.8); border-color: rgba(248, 215, 218, 0.8);
        }
    }
    @media (max-width: 1200px) {  
        padding: 70px;
    }
    @media (max-width: 767px) {  
        padding: 50px;
        .action-btn {
            margin-top: 0px;
        }
    }
    @media (max-width: 575px) {  
        padding: 15px;
    }
}

.form-group {
    margin-bottom: 20px;
    label {
        font-weight: 500; font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1900 - 320))); color: #000000; margin-bottom: 8px;
    }
    .form-control {
        border: 1.5px solid rgba(0, 0, 0, 0.12); @include border-radius(8px); font-weight: 400; font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1900 - 320))); color: #000000; background: transparent; height: 64px; padding: 0 25px;
        &:focus, &:active {
            background: transparent; color: #000000;
        }
        &::-webkit-input-placeholder { color: rgba(#000000, 0.5); }      
        &:-ms-input-placeholder { color: rgba(#000000, 0.5); }      
        &::placeholder { color: rgba(#000000, 0.5); }
        @media(max-width: 767px) {
            padding: 0 15px; height: 50px;
        }
    }
    .error {
        color: #cc0000; font-size: 12px;
    }
    .custom-html-dropdown { position: relative;
        .form-control {             
            @include appearance(none); background: url(../images/icons/arrow-down.svg) calc(100% - 25px) center no-repeat; background-size: 10px; text-align: left;        
            &::after{ content: none; }
            &.show {
                background: url(../images/icons/arrow-up.svg) calc(100% - 25px) center no-repeat; background-size: 10px;
            }
        }
        .dropdown-menu { 
            margin-top: 0; background: #FFFFFF; @include box-shadow(0px 4px 20px rgba(0, 0, 0, 0.25)); @include border-radius(8px); min-width: 100%; border: none; display: block!important; z-index: 4; visibility: hidden; @include opacity(0); @include transition (0.3s, ease-in-out); @include transform(translateY(120px)); padding: 5px 0; max-height: 430px; overflow: hidden; overflow-y: auto; 
            &::-webkit-scrollbar { 
                width:6px;background-color:#F5F5F5; 
            }
            &::-webkit-scrollbar-thumb { 
                background-color:rgba(0,0,0,0.3); 
            }
            &::-webkit-scrollbar-track { 
                -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.1); 
            }
            &.show { 
                visibility: visible; opacity: 1; transition-delay: 0s, 0s, 0.3s; @include transform(translateY(67px) !important); 
            }
            li {
                padding: 0; margin: 0;
                &::before { 
                    content: none; 
                }
                button { 
                    font-size: 16px; font-weight: 500; border: none; background: transparent; width: 100%; text-align: left; @include transition(0.3s, ease-in-out ); color: $darkblue; padding: 10px 15px;
                    &:hover, &:focus, &:active, &.active { background: rgba(253, 149, 3, 0.1); }
                }
            }
            .dropdown-item {
                &:hover, &:focus, &:active, &.active { color: #444444; background: rgba(253, 149, 3, 0.1); }
            }            
        }      
    }
    textarea.form-control {
        height: auto; padding: 20px 25px;
        @media(max-width: 767px) {
            padding: 15px; 
        }
    }
}

.section ul { 
    padding: 8px 0 12px; margin: 0; list-style-type: none;
    li { 
        padding-left: 20px; margin-bottom: 12px; color: rgba(#282938, 0.7); position: relative;
        &::before {            
            position: absolute; left: 0; top: 6px; display: inline-block; width: 12px; height: 12px; content: ''; background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="12px" height="12px"><path d="M243.8 339.8C232.9 350.7 215.1 350.7 204.2 339.8L140.2 275.8C129.3 264.9 129.3 247.1 140.2 236.2C151.1 225.3 168.9 225.3 179.8 236.2L224 280.4L332.2 172.2C343.1 161.3 360.9 161.3 371.8 172.2C382.7 183.1 382.7 200.9 371.8 211.8L243.8 339.8zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z" fill="rgb(253 149 3)"/></svg>'); background-size: 12px; 
        }
    }
    @media (max-width: 767px) {       
        ul { 
            padding: 5px 0 8px; 
            li { 
                margin-bottom: 8px;
            }
        }
    }
}

.dark-form {
    .form-group {
        margin-bottom: 16px;
    }
    .form-control {
        border-color: rgba(255, 255, 255, 0.12); color: #F4F6FC; 
        &:focus, &:active {
            background: transparent; color: #F4F6FC;
        }
        &::-webkit-input-placeholder { color: rgba(#F4F6FC, 0.7); }      
        &:-ms-input-placeholder { color: rgba(#F4F6FC, 0.7); }      
        &::placeholder { color: rgba(#F4F6FC, 0.7); }
    }
}

.card {
    border: none; @include border-radius(0); padding: 20px;
    .image { overflow: hidden; background: $gray; padding: 0; max-height: 300px; min-height: 300px;
        img {
            @include border-radius(0); @include transition(0.3s, ease-in-out); height: 100%;
        }
        &.gradient-bg {
            padding: 40px;             
            img {
                padding-top: 0; height: 100%; width: 100%;
            }
            @media (max-width: 992px) {
                padding: 30px;
            }
            @media (max-width: 767px) {
                padding: 20px;
            }
            @media (max-width: 575px) {
                padding: 15px;
            }
        }
    }
    .card-body {
        padding: 0px; padding-top: 20px;
        .date {
            color: rgba(#282938, 0.7); margin-bottom: 16px;
        }
        .card-title {
            line-height: normal; margin-bottom: 16px; color: #282938; display: block; text-decoration: none; @include transition(0.3s, ease-in-out);
        }
        .card-text {
            color: rgba(#282938, 0.7);
        }
        .icons { padding: 15px 0 20px;
            span { 
                @include inline-flex; @include align-items(center); @include justify-content(center); width: 30px; height: 30px;  margin-right: 8px; margin-bottom: 8px;
                svg {
                    height: 100%;
                }
            }
        }
        @media (max-width: 767px) {
            padding: 20px 0 10px;
        }
    }
    .card-footer {
        background: transparent; border: none; padding: 0; padding-top: 20px;
    }
    &:hover, &:focus {
        img {
            @include transform(scale(1.1));           
        }
        .image.gradient-bg {
            img {
                @include transform(none);
            }
        }
        .card-body {
            .card-title {
                color: $primary;
            }
        }
        .card-footer {
            .blog-arrow {
                color: $primary; padding: 0 40px 0 0; background: url(../images/icons/arrow-lightyellow.svg) no-repeat center right; 
            }
        }
    }
}

.count-box {
    .counter { font-size: calc(28px + (38 - 28) * ((100vw - 320px) / (1900 - 320))); font-weight: 600; color: #282938; }
    .text { font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1900 - 320))); color: rgba(#282938, 0.7); }
    @media (max-width: 767px) {
        margin-bottom: 30px; text-align: center;
    }
}

.logo-content {
    @include flexbox; @include align-items(center); @include justify-content(space-between); @include flex-wrap(wrap); height: 100%;  
    .logo {
        margin: 15px;
        img {
            @include transition(0.3s, ease-in-out);
        }
        &:hover {
            img { @include transform(scale(1.1)); }
        }
    }
    @media (max-width: 1200px) {
        @include justify-content(flex-start);
    }
    @media (max-width: 767px) {
        @include justify-content(center);
        .logo {
            margin: 10px;
        }
    }
}

.section-banner {
    background: $black; 
    .section-title { 
        h1 {
            color: $white;
        }
        p {
            color: rgba($white, 0.7);
        }
    }
    @media (max-width: 767px) {
        .image {
            padding-bottom: 40px; padding-top: 0;
            img {
                max-width: 80%;
            }
        }
    }
}

.page-banner-section {
    .section-title {
        @include flexbox; @include flex-direction(column); @include justify-content(center); height: 100%;
    }
    p {  
        margin-bottom: 0;
    }
}

.section-we-work, .section-location { 
    padding-bottom: 70px;
    @media (max-width: 992px) {
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 30px;
    }
    .col-12 {  
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    .section-title { 
        p {
            margin-bottom: 0px;
        }
    }
}

.section-our-project, .section-feature {
    padding-bottom: 95px;
    @media (max-width: 992px) {  
        padding: 65px 0;
    }
    @media (max-width: 767px) {  
        padding: 45px 0;
    }
    @media (max-width: 575px) {  
        padding: 25x 0;
    }
}

.section-right-img { padding: 120px 0;
    .section-title {
        height: 100%; @include flexbox; @include align-items(flex-start); @include justify-content(center); @include flex-direction(column); padding-right: 0;
    }
    .image {
        @include justify-content(flex-end);
        img {
            width: 80%;
        }
    }
    @media (max-width: 992px) {
        padding: 90px 0;
        .image {
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 70px 0;
        .image {
            @include justify-content(center);
        }
    }
    @media (max-width: 575px) {
        padding: 50px 0;
    }
}

.section-left-img { padding: 120px 0;
    .section-title {
        height: 100%; @include flexbox; @include align-items(flex-start); @include justify-content(center); @include flex-direction(column); padding-right: 0; text-align: left;
    }
    .image {
        @include justify-content(flex-start);
        img {
            width: 80%;
        }
    }
    @media (max-width: 992px) {
        padding: 90px 0;
        .image {
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: 767px) {
        padding: 70px 0;
        .image {
            @include justify-content(center);
        }
    }
    @media (max-width: 575px) {
        padding: 50px 0;
    }
}

.section-send-inquiry {
    @media(max-width: 575px) {
        margin-left: -15px; margin-right: -15px; padding-bottom: 0;
    }
}

.timeline {
    position: relative; margin: 0px auto; width: 1000px; box-sizing: border-box;
    &::before {
        content: ''; position: absolute; left: 50%; width: 3px; height: 100%; background: #c5c5c5;
    }
    ul {
        padding: 0; margin: 0;
        li {
            list-style: none; position: relative; width: 50%; padding: 10px 40px; box-sizing: border-box;
            &:nth-child(odd) {
                float: left; text-align: right; clear: both;
                &::before {
                    content: ''; position: absolute; width: 15px; height: 15px; top: 24px; right: -9px; left: auto; background: $primary; @include border-radius(50%); @include box-shadow(0 0 0 3px rgba($primary, 0.2));
                }
                .time {
                    position: absolute; top: 12px; right: -152px; margin: 0; padding: 8px 16px; background: $primary; color: $white; @include border-radius(8px); @include box-shadow(0 0 0 3px rgba($primary, 0.3)); 
                    h5 {
                        font-size: 16px; margin-bottom: 0;
                    }
                }     
            }
            &:nth-child(even) {
                float: right; text-align: left; clear: both;
                &::before {
                    content:''; position: absolute; width: 15px; height: 15px; top: 24px; left: -6px; background: $primary; @include border-radius(50%); @include box-shadow(0 0 0 3px rgba($primary, 0.2)); 
                }
                .time { 
                    position: absolute; top: 12px; left: -152px; margin: 0; padding: 8px 16px; background: $primary; color: $white; @include border-radius(8px); @include box-shadow(0 0 0 3px rgba($primary, 0.3));
                    h5 {
                        font-size: 16px; margin-bottom: 0;
                    }
                }
            }
            .content {
                padding-bottom:20px;
                ul { 
                    list-style-type: circle;
                    li {
                        padding: 0; text-align: right; float: none; width: 100%;
                        &::before { 
                            content: none;
                        }
                    }
                }
            }
            h4 {
                font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1900 - 320))); padding: 0; color: $primary; font-weight: 600;
            }
        }
    }
    @media(max-width:1000px) {
        width: 100%;     
    }
    @media(max-width:767px) {
        width: 100%; padding-bottom: 0;
        &::before{
            left: 0px; height: 100%; top: -15px;
        }
        ul li:nth-child(odd),
        ul li:nth-child(even) {
            width: 100%; text-align: left; padding: 0 30px; padding-bottom: 20px;
        }
        ul li:nth-child(odd):before,
        ul li:nth-child(even):before {
            top:-25px; left: -6px; 
        }
        ul li:nth-child(odd) .time,
        ul li:nth-child(even) .time{
            top: -30px; left: 30px; right: inherit; padding: 5px 10px;
            h5 {
                font-size: 12px;
            }
        }
        .content {
            ul { 
                li {
                    text-align: left !important;                    
                }
            }
        }
    }
}